{% extends "index.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Сброс пароля{% endblock %}

{% block content %}
<div class="large-10 large-offset-1 column">
    <h1>Сброс пароля</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Забыли пароль? Введите свой e-mail адрес, и мы вышлем Вам письмо с подтверждением для сброса пароля.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button alert" type="submit" value="Сбросить пароль" />
    </form>

    <p>Пожалуйста свяжитесь с нами, если возникнут какие-либо проблемы.</p>
</div>
{% endblock %}
