{% load socialaccount %}
{% load user_templatetags %}
{% load catalog_filters %}
{% get_providers as socialaccount_providers %}
{% get_social_icon as social_icon %}


{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
        <li>
          <a title="{{brand.name}}"
             class="socialaccount_provider {{provider.id}} {{brand.id}}"
             href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
             >{{brand}}</a>
        </li>
        {% endfor %}
    {% endif %}
    <li>
      <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
          <img src="/media/{{ social_icon|get_value:provider.name  }}" alt="{{provider.name}}">
      </a>
    </li>
{% endfor %}

