

a:hover{
    color: #dd0017;
}

.dropdown-pane, .dropdown-pane>*{

    z-index: 100;
}

.dropdown-pane{
    position: relative;
    left: 0 !important;
    top: 0 !important;;
    right: 80rem !important;
    width: 80rem !important;
    display:none;

}

.dropdown-pane.is-open{
    display: inline-block;

}


/* TODO: must be deleted*/
.row{
    border: gray dotted 1px;
    border-collapse: collapse;
}
.breadcrumbs{
    vertical-align: middle;
    margin: 0.5rem;
}
.breadcrumbs a{
    color: darkcyan;
}

.breadcrumbs .disabled a {
    color: darkred !important;
    cursor: not-allowed;
}

.breadcrumbs li{
    font-size: 16px;
}
.sort{
    height: 28px;
    margin: 4px 0px;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
}
select.column.sort{
    padding-right: 22px;
}

.pagination{
    margin: 0;
}
.pagination li{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #9e9e9e;
    margin-right: -3px;
    font-size: 12px;
    padding: 0;
    text-align: center;
}
.pagination li a {
    border-radius: 50%;
    background-color: #dd0017;
    margin: 0;

}
.pagination li a:hover{
    background-color: #a2a2a2;
}

.view{
    font-size: 24px;
}

.view.selected{
    color: #dd0017;
    cursor: not-allowed;
}

.legend{
    margin-top: 5px;
    padding: 0 7px;
    font-size: 12px;
    border-bottom: #505050 dotted 1px;
}

.content{
    max-height: 340px;
    font-size: 13px;
    overflow: auto;
    padding: 0 1px;
    margin-bottom: 16px;
}

.content input{
    margin-bottom: 10px;
}

a.thumbnail{
    padding: 3px !important;
}
.header-1-small{
    font-size: 22px;
    padding-left: 5px;
}

.bordered{
    border-bottom: 1px dotted #9e9e9e;
}
img.subcat{
    margin: 0 !important;
    width: 5.2em;
    height: 5.2em;
}

p.subcat{
    font-size: 10px;
    margin: 3px 0 !important;
}
/*
.sticky.is-stuck > .button.hollow{
    background-color: #b9b9b9 !important;
    border: 1px solid #5a9f22;
    color: #5a9f22;
    font-style: oblique;
    font-size: 12px;
    opacity: 0.6;
}*/
.grid-view{
    margin:10px;
    padding: 3px;
    max-width: 14.85em;
}
.grid-view a{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.grid-image, .list-image {
    margin: 0;
    padding: 0;
    width: 14em;
    height: 14em;
}

.grid-image img{
    width: 100%;
    height: 100%;
}

.list-view{
    border: solid 4px #fefefe;
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
    transition: box-shadow 200ms ease-out;
    border-radius: 5px;
    margin:0 1rem 1rem 1rem;
    padding: 10px;
}

.list-view:hover{
    box-shadow: 0 0 6px 1px rgba(80, 80, 80, 0.5);
}

.badge{
    width:2rem;
    height:2rem;
}

.badge.alert:hover{
    color: #595959;
}

.prod-image{
    height: auto;
    width: 488px;
}
.radio-label{
    margin:0 !important;
    border-style: double ;
    border-width: 3px;
    border-color: #dcdcdc;
    border-radius: 2px;
}
.size-label{
    margin:0 !important;
    min-width: 32px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #dcdcdc;
    border-radius: 50%;
}
.checked-label{
    border-color: #909090;
}

.is-show
.shown{
    display: block;
}