{% extends 'index.html' %}
{% load myfilters %}
{% block subcats %}

<div class="column large-2">
    {% comment %}
    {% get_filter_categories as filters_item %}
    {% for filter in filters_item %}

    {% endfor %}{% endcomment %}
<form method="get" action="{% url 'categories' category.id %}">
    <a class="hollow button alert tiny " type="reset" href="{% url 'categories' category.id %}?clrfilter=1"> сбросить фильтры</a>
    <input class="hollow button success tiny expanded" type="submit" value="Показать">
    {% for key in filtering_keys %}
{#        {{ filtering_content|get_value:key }}<br/>#}
       {% if filtering_content|get_value:key.0 %}
            <fieldset class="large-12 column">
                <legend class="large-12 column legend">{{ key.1 }}</legend>
                <div class="large-12 column content">
                {% for item in filtering_content|get_value:key.0 %}
                    <input id="{{ item }}" name="{{ key.0 }}" type="checkbox" value="{{ item }}"><label for="{{ item }}">{{ item }}</label><br/>
                {% endfor %}
                </div>
            </fieldset>
        {% endif %}
    {% endfor %}

    {% comment %}{% if product_size %}
    <fieldset class="large-12 column">
        <legend class="large-12 column legend">Размеры</legend>
        <div class="large-12 column content">
        {% for size in product_size %}
            <input id="{{ size }}" name="product_size" type="checkbox" value="{{ size }}"><label for="{{ size }}">{{ size }}</label><br/>
        {% endfor %}
        </div>
    </fieldset>
    {% endif %}
    {% if product_density %}
    <fieldset class="large-12 column">
        <legend class="large-12 column legend">Плотность</legend>
        <div class="large-12 column content">
        {% for den in product_density %}
            <input id="{{ den }}" name="product_density" type="checkbox" value="{{ den }}"><label for="{{ den }}">{{ den }}</label><br/>
        {% endfor %}
        </div>
    </fieldset>
    {% endif %}
    {% if product_manufacturer %}
    <fieldset class="large-12 column">
        <legend class="large-12 column legend">Бренды</legend>
        <div class="large-12 column content">
        {% for man in product_manufacturer %}
            <input id="{{ man }}" name="product_manufacturer" type="checkbox" value="{{ man }}"><label for="{{ man }}">{{ man }}</label><br/>
        {% endfor %}
        </div>
    </fieldset>
    {% endif %}
    {% if product_material %}
    <fieldset class="large-12 column">
        <legend class="large-12 column legend">Состав</legend>
        <div class="large-12 column content">
        {% for mat in product_material %}
            <input id="{{ mat }}" name="product_material" type="checkbox" value="{{ mat }}"><label for="{{ mat }}">{{ mat }}</label><br/>
        {% endfor %}
        </div>
    </fieldset>
    {% endif %}
    {% if product_color %}
    <fieldset class="large-12 column">
        <legend class="large-12 column legend">Цвет</legend>
        <div class="large-12 column content">
        {% for color in product_color %}
            <input id="{{ color }}" name="product_color" type="checkbox" value="{{ color }}"><label for="{{ color }}">{{ color }}</label><br/>
        {% endfor %}
        </div>
    </fieldset>
    {% endif %}
    {% if product_model %}
    <fieldset class="large-12 column">
        <legend class="large-12 column legend">Модель</legend>
        <div class="large-12 column content">
        {%  for model in product_model %}
            <input id="{{ model }}" type="checkbox" name="product_model" value="{{ model }}" ><label for="{{ model }}">{{ model }}</label><br/>
        {% endfor %}
        </div>
    </fieldset>
    {% endif %}
</form>{% endcomment %}
</div>

<div class="column large-10">
    {% if subcat %}
    <div class="row column menu-centered">
        <ul class="menu">
        {% for cats in  subcat%}
            <li>
                <a href="{% url "categories" cats.id %}"><img src="/media/{{ cats.category_image }}" alt="{{ cats.category_name }}"></a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="row column">
        {#    Менюшка для выбора сетки/списка    #}
        <div class="column large-1 " style="padding-left: 10px; padding-right: 10px">
            <a id="view_0" class="fi-thumbnails view" href="{% url 'categories' category.id %}?view=0"></a>
            <a id="view_1" class="fi-list view" href="{% url 'categories' category.id %}?view=1"></a>
        </div>
        {#    Менюшка для выбора метода сортировки выводимых товаров    #}
        <div class="column large-3 large-offset-6 " style="padding-left: 10px; padding-right: 10px">
            <p class="column large-4 sort">Сортировка: </p>
            <select class="column large-8 sort" onchange="location = this.value;" >
                {% for opt in sort_options %}
                <option id="sel_{{ forloop.counter0 }}" value="{% url 'categories' category.id %}?sort={{ forloop.counter0 }}">{{ opt }}</option>
                {% endfor %}
            </select>
        </div>
        {#    Менюшка для выбора количества выводимых товаров    #}
        <div class="column large-2" style="padding-left: 10px; padding-right: 10px; ">
            <p class="column large-5 sort">Показать: </p>
            <select class="column large-4 end sort" onchange="location = this.value;" >
                {% for limit in limit_option %}
                <option id="lim_{{ limit }}" value="{% url 'categories' category.id %}?limits={{ limit }}">{{ limit }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {#  Вывод товаров  #}
    {% block products_view %}{% endblock %}
    {#  Пагинация  #}
    {% if paginator.num_pages > 1 %}
    <div class="row column">
        <ul class="pagination" role="navigation" aria-label="Pagination">
        {% if page_obj.has_previous %}
            <li><a href="{% url 'categories' category.id %}?page={{ page_obj.previous_page_number }}"><</a> </li>
        {% endif %}
            {% for pn in paginator.page_range %}

            {% if page_obj.number != pn %}
                <li><a href="{% url 'categories' category.id %}?page={{ pn }}">{{ pn }}</a></li>
            {% else %}
                <li class="current">{{ pn }}</li>
            {% endif %}

            {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="{% url 'categories' category.id %}?page={{ page_obj.next_page_number }}">></a> </li>
        {% endif %}
        </ul>
    </div>
    {% endif %}
    {{ filtering_keys }} <br/>
    {{ filtering_content }}

</div>

{% endblock %}


