{% extends 'index.html' %}

{% block subcats %}
    {% if crumbs %}
    <nav class="row column menu-centered" aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            {% for crumb in crumbs %}
            <li {% if crumb.id == category.id %} class="disabled" {% endif %}>
                <a href="{% url "categories" crumb.id %}">{{ crumb.category_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
<div class="column large-2">
    <div class="column">

        <ul>
            {% for size in product_size %}
            <li>
            {{ size }}
            </li>
            {% endfor %}
        </ul>


    </div>
    <div class="column">

        <ul>
            {% for man in product_manufacturer %}
            <li>{{ man }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        <ul>
            {% for mat in product_material %}
            <li>{{ mat }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        <ul>
            {% for color in product_color %}
            <li>{{ color }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        <ul>
            {%  for model in product_model %}
            <li>{{ model }}</li>
            {% endfor %}
        </ul>
    </div>

</div>

<div class="column large-10">
    {% if subcat %}
    <div class="row column menu-centered">
        <ul class="menu">
        {% for cats in  subcat%}
            <li>
                <a href="{% url "categories" cats.id %}"><img src="/media/{{ cats.category_image }}" alt="{{ cats.category_name }}"></a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="row column">
        <div class="column large-2 large-offset-10">
            <select>
                <option value="ononon"> Oneoneoen </option>
                <option value="two"> Twotwotwo </option>
                <option value="three"> Threethree </option>
            </select>
        </div>
    </div>
    <div class="row column large-up-4">
        {% for prod in products %}
        <div class="column">
            <a href="{% url "product" prod.id %}">{{ prod.product_name }}</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


