{% extends 'index.html' %}

{% block subcats %}
<div> Bread crombs //
    {% for crumb in crumbs %}
        <a href="{% url "categories" crumb.id %}">{{ crumb.category_name }}</a> /
    {% endfor %}

</div>
<div>
    <p>Product:    {{ product.product_name }}<br/></p>
    <p>color: {{ product_color }}</p>
    <p>size: {{ product_size }}</p>
    <p>material: {{ product.product_material }}</p>
    <p>manufacturer: {{ product.product_manufacturer }}</p>
    <p>model: {{ product.product_model }}</p>
    <p>Attributes: {{ product_attributes }}</p>
    <p>{{ product.product_color }}</p>
    <div style="display: inline-block">
        <div>{{ color }}</div>
        <div>{{ size }}</div>
        <div>{{ material }}</div>
        <div>{{ model }}</div>
    </div>

</div>
{% endblock %}
