{% load staticfiles %}
{% load main_menu %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "static/css/foundation.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/foundation-icons.css'%}">
    <link rel="stylesheet" href="{% static "static/css/app.css" %}">
</head>

<body>

<header class="row">
    {% main_menu as item %}
    <div class="row column large-up-8">
        <a class="column text-center" href="{% url "home" %}">Home</a>
        {% for keyl0 in item.tree_to_L2.keys %}
            <a class="column text-center" href="{% url "categories" keyl0.id %}" data-toggle="{{ keyl0.id }}"> <div>{{ keyl0.category_name }}</div></a>
        {% endfor %}
    </div>
    <div class="row column">
        {% for keyl0, valuel0 in item.tree_to_L2.items %}
            {% if valuel0 %}
            <div class="dropdown-pane" id="{{ keyl0.id }}" data-dropdown data-hover="true" data-hover-pane="true" >

                <div class="row large-up-6">
                    {% for keyl1, valuesl1 in valuel0.items %}
                        <div class="column">
                            <p class="float-center"> <a href="{% url "categories" keyl1.id %}"> {{ keyl1.category_name}}</a></p>
                            <div class="column large-6">
                                <img class="thumbnail" src="{{ keyl1.category_image }}"/>
                            </div>
                            <div class="column large-6">
                                <ul class="no-bullet">
                                    {% for value in valuesl1%}
                                        <li><a href="{% url "categories" value.id %}">{{ value.category_name }}</a> </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
            {% endif %}
        {% endfor %}
    </div>
</header>

<main class="row">
 {% if crumbs %}
    <nav class="row column menu-centered" aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            {% for crumb in crumbs %}
            <li {% if crumb.id == category.id %} class="disabled" {% endif %}>
                <a href="{% url "categories" crumb.id %}">{{ crumb.category_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
    {% block subcats %}{% endblock %}


    {% comment %}<div id="menu" >Категории уровня 0 {{ item.cats }} </div>
    <div>Tree L0 to L2: {{ item.tree_to_L2 }}</div>{% endcomment %}
    {% comment %}<ul>
    {% for cat in item.cats %}
        <li>{{ cat.category_name }}
            <ul>
                <li>ID: {{ cat.id }}</li>
                <li>Parent: {{ cat.parent }}</li>
                <li>Parent_id: {{ cat.parent_id }}</li>
            </ul>
        </li>
    {% endfor %}
    </ul>{% endcomment %}




</main>

<footer></footer>
    <script src="{% static "static/js/vendor/jquery.js" %}"></script>
    <script src="{% static "static/js/vendor/what-input.js"%}"></script>
    <script src="{% static "static/js/vendor/foundation.min.js"%}"></script>
    <script src="{% static "static/js/app.js"%}"></script>

    <script>
{% comment %}/*$(document).ready(
    function(){
            $('.ordering').removeAttr('selected');
            $('#{{ selected }}').attr('selected','selected');
        }
)*/{% endcomment %}

{#            /*$('.ordering').removeAttr('selected');*/#}
        $('#sel_{{ request.session.sort }}').attr('selected','selected');
        $('#lim_{{ request.session.limits }}').attr('selected','selected');
        $('#view_{{ request.session.view }}').addClass('selected');

        function setSelected() {

        }
    </script>
</body>
</html>